{% extends "main_page/base.html" %}
{% block content %}
    <div id="drop_down">
        <p>SELECT WASTE CATEGORY </p>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">PET</a>

            <a class="dropdown-item" href="#">PVC</a>
            <a class="dropdown-item" href="#">LDPE</a>
          </div>
        </div>
    </div>

{% endblock content %}